<div *ngIf="commits">
  <mat-form-field class="element-spacing">
    <input
      matInput
      [matDatepicker]="pickerFrom"
      (dateChange)="onDateChangeFrom($event)"
      placeholder="Date from"
    />
    <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
    <mat-datepicker #pickerFrom></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="element-spacing">
    <input
      matInput
      [matDatepicker]="pickerTo"
      (dateChange)="onDateChangeTo($event)"
      placeholder="Date to"
    />
    <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
    <mat-datepicker #pickerTo></mat-datepicker>
  </mat-form-field>

  <div *ngFor="let commit of filterByDate(commits)">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <img
            style="width: 80%; margin: auto;"
            mat-card-image
            src="{{ commit.author.avatar_url }}"
            alt="User avatar"
          />
        </div>
        <mat-card-title>{{ commit.commit.author.name }}</mat-card-title>
        <mat-card-subtitle>{{ commit.commit.author.date }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ commit.commit.message }}
        </p>
      </mat-card-content>
    </mat-card>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
