<style>
  mat-card {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
  }
</style>

<div *ngIf="user">
  <mat-grid-list cols="5" rowHeight="1:1">
    <mat-grid-tile>
      <mat-card>
        <mat-card-subtitle> Login: </mat-card-subtitle>
        <mat-card-content> {{ user.login || "-----" }} </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-subtitle> Id: </mat-card-subtitle>
        <mat-card-content> {{ user.id || "-----" }} </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-subtitle> Biography: </mat-card-subtitle>
        <mat-card-content> {{ user.bio || "-----" }} </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-subtitle> Created at: </mat-card-subtitle>
        <mat-card-content>
          {{ this.getYear(user.created_at) || "-----" }}
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>
        <mat-card-subtitle> Updated at: </mat-card-subtitle>
        <mat-card-content>
          {{ this.getYear(user.updated_at) || "-----" }}
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-subtitle> Followers: </mat-card-subtitle>
        <mat-card-content> {{ user.followers || "-----" }} </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-subtitle> Following: </mat-card-subtitle>
        <mat-card-content> {{ user.following || "-----" }} </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-subtitle> Type: </mat-card-subtitle>
        <mat-card-content> {{ user.type || "-----" }} </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>
        <mat-card-subtitle> Name: </mat-card-subtitle>
        <mat-card-content> {{ user.name || "-----" }} </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-subtitle> Company: </mat-card-subtitle>
        <mat-card-content> {{ user.company || "-----" }} </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-subtitle> Blog: </mat-card-subtitle>
        <mat-card-content> {{ user.blog || "-----" }} </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-subtitle> Location: </mat-card-subtitle>
        <mat-card-content> {{ user.location || "-----" }} </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>
        <mat-card-subtitle> Email: </mat-card-subtitle>
        <mat-card-content> {{ user.email || "-----" }} </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-subtitle> Public repos: </mat-card-subtitle>
        <mat-card-content>
          {{ user.public_repos || "-----" }}
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-subtitle> Public gists: </mat-card-subtitle>
        <mat-card-content>
          {{ user.public_gists || "-----" }}
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-subtitle> Total private repos: </mat-card-subtitle>
        <mat-card-content>
          {{ user.total_private_repos || "-----" }}
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>
        <mat-card-subtitle> Owned private repos: </mat-card-subtitle>
        <mat-card-content>
          {{ user.owned_private_repos || "-----" }}
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-subtitle> Private gists: </mat-card-subtitle>
        <mat-card-content>
          {{ user.private_gists || "-----" }}
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-subtitle> Disk usage: </mat-card-subtitle>
        <mat-card-content> {{ user.disk_usage || "-----" }} </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-subtitle> Colaborators: </mat-card-subtitle>
        <mat-card-content>
          {{ user.colaborators || "-----" }}
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
