<div class="banner">
  <h1 class="main-title">{{ title }}</h1>
</div>

<!-- <mat-sidenav-container>
  <mat-sidenav opened mode="side">aaaaa</mat-sidenav>
  <mat-sidenav-content>bbbb</mat-sidenav-content>
</mat-sidenav-container>
<div> -->
<router-outlet></router-outlet>
<!-- </div> -->
