html {
  height: 100%;
}
body {
  height: 100%;
}

.banner {
  background-color: bisque;
  margin: -8px;
  margin-bottom: 10px;
  display: flex;
  height: 10%;
}

.main-title {
  font-weight: 700;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px;
}
