<div *ngIf="branches" style="height: 100%;">
  <mat-sidenav-container>
    <mat-sidenav opened mode="side">
      <div class="branches-sidenav-title">
        <p>
          Select branch to see commits
        </p>
      </div>
      <div class="scrollable-div">
        <div *ngFor="let branch of branches" selected>
          <button
            mat-button
            class="select-branch-button"
            (click)="onSelectCommits(branch.commit.sha)"
          >
            {{ branch.name }}
          </button>
        </div>
      </div>
      <div style="text-align: center;">
        <button class="return-button" (click)="goBack()">Go back</button>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-repository-commits [commits]="selectedCommits">
      </app-repository-commits>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
