mat-sidenav-container {
  height: 100%;
}

/* mat-sidenav, */
mat-sidenav-content {
  padding: 20px;
}

mat-sidenav {
  background-color: blanchedalmond;
  min-width: 20%;
}

.select-branch-button {
  align-content: center;
  text-align: center;
  width: 100%;
  margin: auto;
  color: black;
}

.select-branch-button:hover {
  font-size: 1.2em;
  font-weight: 700;
}

.branches-sidenav-title {
  margin: auto;
  text-align: center;
  font-size: 1.5em;
  text-decoration: underline green;
  color: green;
}

.scrollable-div {
  height: 75%;
  overflow-y: auto;
}

.return-button {
  margin: auto;
  padding: 5px;
  width: 80%;
}
