<div *ngIf="repositories">
  <mat-accordion *ngFor="let repository of repositories">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="repository-title">
          {{ repository.name || "-----" }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        <span class="repository-key">Owner:</span>
        <span style="float: right; ">
          {{ repository.owner.login || "-----" }}
        </span>
      </p>
      <mat-divider></mat-divider>
      <p>
        <span class="repository-key">Private: </span>
        <span style="float: right; ">
          {{ repository.private }}
        </span>
      </p>
      <mat-divider></mat-divider>
      <p>
        <span class="repository-key">Language:</span>
        <span style="float: right; ">
          {{ repository.language || "-----" }}
        </span>
      </p>
      <mat-divider></mat-divider>
      <p>
        <span class="repository-key">License:</span>
        <span style="float: right; ">
          {{ repository.license || "-----" }}
        </span>
      </p>
      <mat-divider></mat-divider>
      <p>
        <span class="repository-key">Description:</span>
        <span style="float: right; ">
          {{ repository.description || "-----" }}
        </span>
      </p>
      <mat-divider></mat-divider>
      <p>
        <span class="repository-key">Branches:</span>
        <span style="float: right; ">
          <button
            routerLink="/repositoryBranches/{{ repository.owner.login }}/{{
              repository.name
            }}"
          >
            See branches
          </button>
        </span>
      </p>
      <mat-divider></mat-divider>
      <p>
        <span class="repository-key">Commits on master branch:</span>
        <span style="float: right; ">
          <button
            routerLink="/repositoryCommits/{{ repository.owner.login }}/{{
              repository.name
            }}"
          >
            See commits
          </button>
        </span>
      </p>
      <mat-divider></mat-divider>
      <p>
        <span class="repository-key">Go to repository:</span>
        <span style="float: right; ">
          <button [disabled]="!repository.html_url">
            <a target="_blank" href="{{ repository.html_url }}">
              Go to repository
            </a>
          </button>
        </span>
      </p>
      <mat-divider></mat-divider>
      <p>
        <span class="repository-key">Created at:</span>
        <span style="float: right; ">
          {{ getYear(repository.created_at) || "-----" }}
        </span>
      </p>
      <mat-divider></mat-divider>
      <p>
        <span class="repository-key">Updated at:</span>
        <span style="float: right; ">
          {{ getYear(repository.updated_at) || "-----" }}
        </span>
      </p>
      <mat-divider></mat-divider>
      <p>
        <span class="repository-key">Pushed at:</span>
        <span style="float: right; ">
          {{ getYear(repository.pushed_at) || "-----" }}
        </span>
      </p>
      <mat-divider></mat-divider>
      <p>
        <span class="repository-key">To clone:</span>
        <span style="float: right; ">
          <button
            [disabled]="!repository.clone_url"
            (click)="copyToClipboard('git clone ' + repository.clone_url)"
          >
            Copy git clone
          </button>
        </span>
      </p>
      <mat-divider></mat-divider>
      <p>
        <span class="repository-key">Homepage:</span>
        <span style="float: right; ">
          {{ repository.homepage || "-----" }}
        </span>
      </p>
      <mat-divider></mat-divider>
      <p>
        <span class="repository-key">Size:</span>
        <span style="float: right; ">
          {{ repository.size || "-----" }}
        </span>
      </p>
      <mat-divider></mat-divider>
      <p>
        <span class="repository-key">Watchers count:</span>
        <span style="float: right; ">
          {{ repository.watchers_count || "-----" }}
        </span>
      </p>
      <mat-divider></mat-divider>
      <p>
        <span class="repository-key">Open issues:</span>
        <span style="float: right; ">
          {{ repository.open_issues || "-----" }}
        </span>
      </p>
      <mat-divider></mat-divider>
      <p>
        <span class="repository-key">Default branch:</span>
        <span style="float: right; ">
          {{ repository.default_branch || "-----" }}
        </span>
      </p>
      <mat-divider></mat-divider>
    </mat-expansion-panel>
  </mat-accordion>
</div>
