<div class="main-content">
  <div>
    <mat-form-field class="example-full-width element-spacing">
      <input #username matInput placeholder="Username" required />
    </mat-form-field>
    <button mat-raised-button (click)="getUserGithub(username.value)">
      Get user repositories
    </button>
  </div>

  <mat-tab-group>
    <mat-tab element-spacing label="User basic informations">
      <app-user-basic-info [user]="fetchedUser"></app-user-basic-info>
    </mat-tab>
    <mat-tab element-spacing label="User repositories">
      <app-user-repositories-info [repositories]="fetchedRepositories">
      </app-user-repositories-info>
    </mat-tab>
  </mat-tab-group>
</div>
